.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 800ms ease;
  //position: absolute;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.transitionGroup {
  position: relative;
}
.animationContainer{
  position: absolute;
  width: 100%;
  overflow: hidden;
}

//SLIDE
//Right
.slide-in-right-enter {
  transform: translate(100%);
}
.slide-in-right-enter-active {
  transform: translate(0px);
  transition: transform 800ms ease;
  float: left;
}
.slide-in-right-exit {
  transform: translate(0%);
}
.slide-in-right-exit-active {
  position: absolute;
  transform: translate(-100%);
  transition: transform 800ms ease;
}

//Left
.slide-in-left-enter {
  transform: translate(-100%);
}
.slide-in-left-enter-active {
  transform: translate(0px);
  transition: transform 800ms ease;
  float: left;
}
.slide-in-left-exit {
  transform: translate(0%);
}
.slide-in-left-exit-active {
  position: absolute;
  transform: translate(100%);
  transition: transform 800ms ease;
}
