.header {
  margin-bottom: 0;

  .header-title {
    color: $dark-grey;
    font-weight: 900;
  }

  .navbar {
    background-color: transparent;
    background-image: none;
    margin-bottom: 0;
  }

}
