.homepage {
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.SurveyStart {
    font-size: $l-size;

    @media screen and (min-width: 767px) {
        padding-top: 80px;
        
        img {
            top: 100px;
            position: absolute;
        }
    }

    @media screen and (max-width: 767px) {
        img {
            top: 20px;
            position: absolute;
        }
    }
}