.landingage {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('/images/cacti-close.jpg')
}
.landingpage_overlay {
    //background-color: $off-white;
    color: black;
    font-size: 3rem;
    position: relative;
    top: 20%;
    transform: translateY(-35%);

}
