.homepage {
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.SurveyStart {
    font-size: $l-size;

    @media screen and (min-width: 767px) {
        padding-top: 80px;
        
        img {
            top: 100px;
            position: absolute;
        }
    }

    @media screen and (max-width: 767px) {
        img {
            top: 20px;
            position: absolute;
        }
    }
}


.main-row-title {
    white-space: pre-line;
    font-size: 100px;
    line-height: 104px;
    font-weight: 900;
}

.masthead {
    //height: 70vh;
    min-height: 500px;
    // background-image: url('/images/skincare.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.main-row-survey-button {
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
}