/* Position and sizing of burger button */
.bm-burger-button {
  visibility: hidden;
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.bm-cross:hover {
  background: red;
}

/* General sidebar styles */
.bm-menu {
  background: $off-white;
  //padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: $almost-black;
  padding: 0.8em;
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.checkout-text-right {
  text-align: right;
}
.checkout-text-left {
  text-align: left;
}

.cart-title {
  flex: 0 1 auto;
  outline: none;
}

/* Middle of the container with the line items */
.cart-middle-container{
  position: relative;
  width: 100%;
  overflow: auto;
  outline: none;
  flex: 1 1 auto;
}

.cart-empty {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-item {
  padding-bottom: 10px;
}

.line-item-left {
  padding: 0;
}

.line-item-quantity-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
}

.line-item-quantity-form {
  max-width: 30px;
  border-radius: 0px;
  text-align: center;
}

.line-item-image {
  max-height: 100%;
  max-width: 100%;
}

.line-item-quantity-button {
  font-size: 6px;
  padding: 8px;
  border: solid 1px $grey;
  cursor: pointer;
}
.line-item-quantity-button-hover {
  font-size: 6px;
  padding: 8px;
  border: solid 1px $grey;
  cursor: pointer;
  background: $dark-off-white;
}


.line-item-custom-attribute{
  font-size: 15px;
  padding-left: 10px;
}

/* Bottom container with subtotal and checkout button*/
.cart-bottom-container{
  bottom: 75px; /* Height of header = 50px - should probably fix */
  left: 0;
  width: 100%;
  border-top: solid $dark-grey 1px;
  padding-top: 10px;
  flex: 0 1 40px;
  padding-bottom: 40px;
}

.checkout-button {
  width: 100%;
  margin: 10px;
}