.SurveyStart {
    //background-color: red;
    font-size: 2em;
    border-radius: 10px;
    //background-image: url('/images/skincare.jpeg');
    background-size: contain;

    h1 {
        margin-bottom: 0;
    }

    @media screen and (min-width: 767px) {
        padding-top: 80px;
        
        img {
            top: 100px;
            position: absolute;
        }
    }

    @media screen and (max-width: 767px) {
        img {
            top: 20px;
            position: absolute;
        }
    }
}