.SurveyStart {
    //background-color: red;
    font-size: 2em;
    border-radius: 10px;
    margin-top: 25px;
    //background-image: url('/images/skincare.jpeg');
    background-size: contain;

    h1 {
        margin-bottom: 0;
    }
}