body {
  background-color: $off-white;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

.button {
  border: solid black 1px;
  width: 250px;
  background-image: none;
  background-color: transparent;
  border-radius: 0px;
}
