body {
  background-color: $off-white;
  //background: url('/images/bright-yellow-brick_4460x4460.jpg');
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  border-radius: 10px;
  background-size: contain;

  h1 {
      margin-bottom: 0;
  }
}

.button {
  border: solid black 1px;
  border-radius: 0px;
  background: transparent;
  color: black;
  cursor: pointer;
}

.button:hover {
  color: rgb(70, 67, 67);
  text-decoration: none;
}

.button-black {
  border: solid black 1px;
  border-radius: 0px;
  background: transparent;
  background-color: $dark-grey;
  color: white;
  cursor: pointer;
  text-shadow: none;
}

.button-black:hover {
  //background-color: rgb(39, 39, 39);
  text-decoration: none;
}

.dropdown {
  background: transparent;
  border: solid black 1px;
  min-width: 200px;
  width: 100%;
}

